html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}
body {
	background-color: #EBEDF3;
}
.a-bg {
	background-color: #37476C;
	width: 100%;
	height: 100%;
}
.a-middleblock {
	position: absolute;
	left: 50%;
	top: 50%;
	box-sizing: border-box;
	border-radius: 3px;
	overflow: hidden;
	transform: translate(-50%, -50%);
}

.a-form {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 0 40px 0px;
	box-sizing: border-box;
	claer: fix;

	.a-input, 
	.a-select {
		width: 100%;
	}
}
.a-signin {
	width: 320px;

	.a-input {
		width: 100%;
	}
}
.a-signin__error {
	margin-bottom: 10px;
	color: #E26F5D !important;
}
.a-forgot {
	width: 600px;
	max-width: 100%;
}
.a-form__header {
	margin: 0 -40px 20px;
	padding: 20px 40px;
}
.a-form__error:not(:empty) {
	padding: 10px;
	color: #5F0101;
    border: 1px solid #D49E9E;
    background-color: #F7E4E4;
    margin-bottom: 10px;
}
.a-header {
	background-color: #fff;
	border-bottom: 1px solid #D2D7E2;
	clear: fix;
	transition: padding-left .3s ease-in-out;

	&.a-header-page {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		background-color: #fff;
		padding: 20px 40px;
		height: 40px;
		z-index: 2;

		.a-header__head {
			font-size: 1.8em;
		}
	}
}
.a-header__head {
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	font-size: 1.2em;
	white-space: nowrap;
	text-overflow: ellipsis;

	h1, h2, h3 {
		vertical-align: middle;
		display: inline-block;
		font-size: 1em;
		margin-bottom: 0;
	}
}
.a-header__right {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	line-height: 20px;

	.a-btn {
		margin-left: 10px;
	}
}
.a-header__open-nav {
	display: none;
	margin-right: 5px;

	.icon-menu {
		display: block;
		font-size: 16px;

		&:beefore {
			width: auto !important;
		}
	}

	&:hover {
		background-color: #e1e3e8;
	}
	
	&:active, 
	&.a-header__open-nav-active {
		background-color: #37476c;
		color: #fff;
	}
}
.a-side {
	position: relative;
	float: left;
	width: 80px;
	height: 100%;
	color: #fff;
	background-color: #37476C;
	z-index: 10;
	max-height: 100%;
	overflow-y: scroll;
}
.a-logo {
	display: block;
	width: 80px;
	height: 80px;
	background: url("/admin/images/logo.png") no-repeat;
}
.a-nav {
	display: block;
}
.a-nav__link {
	position: relative;
	display: block;
	height: 80px;
	color: #fff !important;
	text-decoration: none !important;
	text-align: center;
	font-size: 11px;
	padding: 0;
	box-sizing: border-box;

	&:hover {
		background-color: #556A9A;
	}

	&:active, 
	&.a-nav__link-active {
		background-color: #203056;
	}
}
.a-nav__content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
}
.a-nav__icon {
	display: block;
	margin-bottom: 5px;

	&:before {
		width: auto !important;
	}

	&.icon-settings {
		font-size: 30px;
	}
	&.icon-params {
		font-size: 30px;
	}
	&.icon-html {
		font-size: 20px;
	}
	&.icon-css {
		font-size: 22px;
	}
	&.icon-remove {
		font-size: 20px;
	}
	&.icon-js {
		font-size: 18px;
	}
	&.icon-page {
		font-size: 26px;
	}
	&.icon-mail {
		font-size: 26px;
	}
}

.a-container {
	position: relative;
	overflow: hidden;
	padding-top: 80px;
	height: 100%;
	box-sizing: border-box;
	z-index: 1;
}
.a-content {
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 20px 40px;
	box-shadow: inset 0 4px 4px rgba(214, 216, 222, 1);
	clear: fix;

	&.a-content-code {
		padding: 0;
		overflow: visible;
		height: 100%;
		box-shadow: none;
	}
}
.a-paramtree {
	margin: 0;
	padding: 0;
	display: block;
	clear: fix;
}
.a-paramtree__remove {
	float: right;
	font-size: 12px;
	padding-top: 5px;
	text-decoration: none !important;
	border-bottom: 1px dashed;
	color: #E26F5D !important;
}
.a-paramtree__item {
	margin: 0 0 10px;
	display: block;
	padding: 0;
	list-style-type: none;

	.a-paramtree {
		margin: 0 0 10px;
		padding: 0;
		display: block;
		padding: 20px;
		border: 1px solid #E8F1F5;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 3px;

		&.a-paramtree-toadd {
			display: none;
		}
	}

	&.a-paramtree__item-inline {
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;
	}

	&.a-paramtree__item-toadd {
		display: none;
	}
}
.a-paramtree__header {
	display: block;
	cursor: pointer;
	padding: 20px 20px 20px 10px;
	background-color: #fff;
	border: 1px solid #E8F1F5;
	clear: fix;

	&.a-paramtree__header-active {
		border-bottom: none;
	}

	& + .a-paramtree {
		border-top: none;
		display: none;

		&.a-paramtree-active {
			display: block;
		}
	}
}
.a-paramtree__header-text {
	float: left;
}
.a-paramtree__add {
	cursor: pointer;
	font-size: 13px;
	text-decoration: none !important;
	border-bottom: 1px dashed;
}
.a-paramtree__left {
	display: block;
	float: left;
	vertical-align: middle;
	margin-right: 5px;
}
.a-paramtree__right {
	display: block;
	float: left;
	vertical-align: middle;
	margin-right: 5px;
}
.a-paramtree__drag {
	display: block;
	padding: 8px 0;
	color: #CCD0D8;
}
.a-paramtree__children-remove {
	display: block;
	padding: 8px 0;
	color: #c9634c !important;
}
.a-paramtree__header-text .a-paramtree__drag {
	padding: 0;
}
.a-paramtree__drag-item {
	width: auto;
	display: block;
	overflow: hidden;
}
.a-file {
	display: inline-block;
	color: #4A90E2 !important;
	text-decoration: none !important;
	border-bottom: none;
	width: 128px;

	&:hover {
		.a-file__block {
			border-color: #939bae;
		}
	}

	&.a-file-small {
		width: 64px;

		.a-file__block {
			width: 64px;
			height: 64px;
		}

		.a-file__add {
			font-size: 40px;
		}
	
		.a-file__ext {
			font-size: 10px;
			padding: 1px 2px;
		}
	}

	&.a-file-multi {
		margin-left: 5px;
	}
}
.a-file__block {
	display: block;
	position: relative;
	width: 128px;
	height: 128px;
	box-sizing: border-box;
	border: 1px solid #afb9d0;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;

	&:hover {
		.a-file__overlay {
			opacity: 1;
			visibility: visible;
		}

		.a-file__add {
			color: #9cb9e2;
		}
	}

	& + .a-file__name {
		padding-top: 5px;
	}
}
.a-file__picture {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.a-file__image {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}
.a-file__overlay {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	transition: opacity .3s;
	font-size: 32px;
}
.a-file__center {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translate(0, -50%);
}
.a-file__remove {
	color: #ff5038;
	display: none;
	cursor: pointer;

	&:hover {
		color: #ff6736;
	}

	&.a-file__remove-active {
		display: inline-block;
	}
}
.a-file__change {
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
.a-file__add {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	font-weight: bold;
	color: #c0cae2;
	transition: all .3s;
}
.a-file__ext {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 10px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	font-size: 18px;
	line-height: 1;
	padding: 2px 5px;
	font-weight: normal;
}
.a-file__picture.a-file__picture-exist + .a-file__add {
	display: none;
}
.a-file__name {
	font-size: 13px;
	text-align: center;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:empty {
		display: none;
	}
}

.a-label {
	font-size: 15px;
}

.a-paramtree__desc {
	display: block;
	font-size: 12px;
	color: #9294a2;
}

.a-sortable__placeholder {
	border: 1px dashed #c7ced3;
	border-radius: 3px;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: top;
}
.a-sortable__handler {
	cursor: move;
	user-select: none;
}

.a-alert {
	position: absolute;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 10px;
	text-align: center;
	display: block;
	right: -9px;
	top: -9px;
	background-color: #E05151;
	color: #fff !important;
	border-radius: 100%;
}

.a-popup {
	background-color: #fff;
	position: relative;
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
	max-width: 100%;
}
.a-edit-fields, 
.a-add-fields {
	width: 600px;
}
.a-form__footer {
	margin: 0 -40px;
	padding: 20px 40px;
	background-color: #fbfbfb;
}

.a-undefparam {
	position: relative;
	padding: 20px 40px;
	margin: 0 -40px 0px;
	background-color: #fff;
	border-bottom: 1px solid #efefef;
	clear: fix;
	transition: all .3s ease-in-out;

	&.a-undefparam__undef {
		background-color: #FFfcef;
	}
}
.a-undefparam__row {
	margin: 0 -20px;
	clear: fix;
}
.a-undefparam__item {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0 20px;
	margin-bottom: 20px;
}
.a-undefparam__removed {
	position: relative;
	padding: 20px 40px;
	margin: 0 -40px 0px;
	background-color: #37476c;
	color: #fff;
	border-bottom: 1px solid #efefef;
	clear: fix;
	text-align: center;
}
.a-undefparam__restore {
	color: #fff !important;
	font-size: 14px;
}
.a-undefparam__head {
	clear: fix;
}
.a-undefparam__header {
	float: left;
	line-height: 20px;
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}
.a-undefparam__remove {
	float: right;
	line-height: 20px;
	font-size: 12px;
	color: #f57813 !important;
}
.a-undefparam__label {
	display: block;
	margin-bottom: 3px;
}
.a-undefparam__desc {
	display: block;
	font-size: 12px;
	color: #666;
	margin-bottom: 0px;
}
.a-undefparam__left {
	width: 48%;
	float: left;
}
.a-undefparam__right {
	width: 48%;
	float: right;
}
.a-undefparam__children {
	display: block;
	
	&.a-undefparam__children-hidden {
		display: none;
	}
}
.a-undefparam__childrentype {
	width: 100%;
}
.a-undefparam__optionsblock {
	display: block;
	
	&.a-undefparam__optionsblock-hidden {
		display: none;
	}
}
.a-undefparam__options {
	margin-bottom: 10px;

}
.a-undefparam__option {
	display: block;
	margin-bottom: 5px;
	width: 100%;
}

.a-filemanager {
	max-width: 100%;
	min-width: 320px;
	height: 100%;
}
.a-codeform {
	height: 100%;
}
.a-redactor {
	box-sizing: border-box;
	position: relative;
	margin-bottom: 20px;
	height: 100%;

	&.a-redactor-options {
		padding-top: 60px;
	}

	.a-textarea {
		width: 100%;
		height: 100%;
	}
}
.a-redactor__options {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 20px;
}
.CodeMirror {
	height: 100% !important;
}

.a-filemanager {
	padding-top: 100% !important;
}

.a-maillist {

}
.a-maillist__item {
	display: block;
    margin: 0 0 0px;
    padding: 0;
}
.a-maillist__header {
	display: block;
	padding: 10px 20px 10px 20px;
	background-color: #fff;
	border: 1px solid #e8f1f5;
	cursor: pointer;
	clear: fix;
	cursor: pointer;
}
.a-maillist__subject {
	overflow: hidden;
}
.a-maillist__date {
	float: right;
	text-align: right;
	max-width: 120px;
	margin-left: 20px;
	font-size: 13px;
	color: #666;
	line-height: 22px;
}
.a-maillist__content {
	display: none;
	margin: 0 0 0px;
	padding: 0;
	padding: 20px;
	background-color: #fff;
	background-color: hsla(0,0%,100%,.7);
	border: 1px solid #e8f1f5;
	border-radius: 3px;
	clear: fix;
}
.a-maillist__files {
	float: right;
	text-align: right;
	margin-left: 20px;
	max-width: 50%;
	width: auto;
}
.a-maillist__text {
	overflow: hidden;
}
.a-maillist__row {
	margin-bottom: 5px;
}
.a-maillist__label {
	font-weight: bold;
	display: inline-block;
	margin-right: 5px;
}
.a-maillist__value {
	display: inline-block;
}

.i-accordeon-content-active {
	display: block !important;
}

@media all and (max-width: 800px) {
	.a-header__right {
		.a-btn {
			.a-btn__text {
				display: none;
			}
		}
	}
	.a-btn {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media all and (max-width: 600px) {
	.a-side {
		position: absolute;
		width: 60px;
		left: -60px;
		transition: left .3s ease-in-out;

		&.a-side-active {
			left: 0;
		}

		.a-logo {
			width: 60px;
			height: 60px;
			background-size: 60px 60px;
		}
		.a-nav__link {
			height: 60px;
			font-size: 0.6em;
		}
		.a-nav__icon {
			&.icon-settings {
				font-size: 24px;
			}
			&.icon-params {
				font-size: 24px;
			}
			&.icon-html {
				font-size: 16px;
			}
			&.icon-css {
				font-size: 18px;
			}
			&.icon-js {
				font-size: 16px;
			}
			&.icon-page {
				font-size: 24px;
			}
			&.icon-remove {
				font-size: 16px;
			}
		}
	}
	.a-container {
		padding-top: 60px;
	}
	.a-content {
		padding: 10px 10px;
	}
	header.a-header {
		height: 60px;

		&.a-header-page {
			padding: 10px 10px;

			&.a-header-offset {
				padding-left: 70px;
			}

			.a-header__head {
				font-size: 1.2em;
			}
		}
	}
	.a-header__open-nav {
		display: inline-block;
	}
	.a-undefparam__row {
		margin: 0;
		clear: fix;
	}
	.a-undefparam__item {
		width: auto;
		float: none;
		padding: 0;
	}
}
.icon-photo:before {
	width: 1.4em !important;
}